<!DOCTYPE html>
<html lang="en" ng-app="dbtest">
<head>
    <meta charset="UTF-8">
    <title>PouchDBTest</title>


    <script type="text/javascript" src="js/db/pouchdb-4.0.0.min.js"></script>
    <script type="text/javascript" src="js/dal/dalLayer.js"></script>

    <script type="text/javascript" src="js/crypto/md5.js"></script>
    <script type="text/javascript" src="js/crypto/aes.js"></script>
    <script type="text/javascript" src="js/crypto/cryptoLayer.js"></script>

    <script type="text/javascript" src="js/repos/todoRepo.js"></script>

    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
Hi there i am working; now with Angular!

<div  ng-controller="TestCtrl">
    <form ng-submit="switchUser(user);" ng-init="user = {}">
        <input type="text" ng-model="user.username">
        <input type="text" ng-model="user.pass">
        <input type="submit" value="switchUser"/>
    </form>
    <form ng-submit="add()" ng-init="model = {}">
        <input type="text" ng-model="model.todo">
        <input type="submit" value="add">
        <input type="button" value="get" ng-click="getAll()">
        <input type="button" value="sync" ng-click="sync()">
    </form>
    <div>
        <div ng-repeat="todo in array  | orderBy: todo.date : true">
            <span>{{todo.todo}}</span>
        </div>
    </div>
</div>

</body>
</html>